# Ignore gradle dump folder
.gradle/

# Ignore Idea folder
.idea/
.settings/

# Ignore Eclipse files
.project
.classpath
bin/
classes/
build/

# Useless Temp folder
minecraft/

# Prevents project file generation (build never contructs a HTTYMD named file)
HTTYMD.*
